@font-face {
	font-family: "PF Agora Sans Pro", sans-serif;
	src: url("/build/fonts/PFAgoraSansPro-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "PF Agora Sans Pro", sans-serif;
	src: url("/build/fonts/PFAgoraSansPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "PF Agora Sans Pro", sans-serif;
	src: url("/build/fonts/PFAgoraSansPro-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans", sans-serif;
	src: url("/build/fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans", sans-serif;
	src: url("/build/fonts/OpenSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("/build/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans", sans-serif;
	src: url("/build/fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circe", sans-serif;
    src: url("/build/fonts/Circe-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto", sans-serif;
    src: url("/build/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}
