:root {
	--black-color: #000000;
	--white-color: #FFFFFF;
	--blue-color: #0079C1;
	--light-black-color: #333333;
	--footer-bg-color: #3C3C3C;

	--gray1-color: #BDBDBD;
	--gray2-color: #F2F2F2;
	--gray3-color: #C4C4C4;
	--gray4-color: #808080;
	--gray5-color: #4F4F4F;
	--gray6-color: #E0E0E0;
}

* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	line-height: 1.3;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: var(--white-color);
	color: var(--black-color);
}

.container-fluid {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.container {
	position: relative;
	max-width: 1320px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
@media (max-width: 991.98px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 992px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;

	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--light-black-color);
	font-family: "PF Agora Sans Pro", sans-serif;
	line-height: inherit;
}
h1, .h1, h2, .h2 {
	font-weight: 700;
}
h3, .h3 {
	font-size: 24px;
	line-height: 26px;
}
h4, .h4 {
	font-size: 20px;
	line-height: 22px;
}
h5, .h5 {
	font-size: 18px;
	line-height: 21px;
}
@media (max-width: 991.98px) {
	h1, .h1, h2, .h2 {
		font-size: 30px;
		line-height: 35px;
	}
}
@media (min-width: 992px) {
	h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-weight: 500;
	}
	h1, .h1 {
		font-size: 42px;
		line-height: 46px;
	}
	h2, .h2 {
		font-size: 36px;
		line-height: 40px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}
.link,
.link:hover {
	display: inline-flex;
	color: var(--blue-color);
}
.link-underline,
.link-underline:hover {
	text-decoration: underline 1px solid var(--gray3-color);
	text-underline-offset: 4px;
	line-height: 21px;
}
.link-underline:hover {
	text-decoration: none;
	text-decoration-color: var(--gray3-color);
}

img {
	max-width: 100%;
	font-size: 0;
}

svg {
	max-width: 100%;
	max-height: 100%;
	pointer-events: none;
}
.icon {
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	pointer-events: none;
	transition: all 0.15s ease-in-out;
}

.color-blue {
	color: var(--blue-color);
}
.color-gray4 {
	color: var(--gray4-color);
}
.color-lightblack {
	color: var(--light-black-color);
}

.overflow-hidden {
	overflow: hidden;
}

.border-none {
	border: none !important;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
@media (min-width: 992px) {
	a:hover {
		text-decoration: none;
	}
	svg use {
		transition: 0.15s ease-in-out;
	}
}

.d-flex {
	display: flex !important;
}
.flex-wrap {
	flex-wrap: wrap !important;
}
.flex-column {
	flex-direction: column !important;
}

.block-mb-xsmall {
	margin-bottom: 16px !important;
}
.block-mb-small {
	margin-bottom: 20px !important;
}
.block-mb-xmedium {
	margin-bottom: 24px !important;
}

.out-container-right {
	margin-right: -15px !important;
}
.out-container-left {
	margin-left: -15px !important;
}

.w-100 {
	width: 100% !important;
}
@media (max-width: 991.98px) {
	.d-flex-mobile {
		display: flex !important;
	}
	.desktop-only {
		display: none !important;
	}

	.block-mb-small--plus,
	.block-mb-medium,
	.block-mb {
		margin-bottom: 30px !important;
	}

	.block-pt-xsmall-mobile,
	.block-py-xsmall-mobile {
		padding-top: 16px !important;
	}
	.block-pt,
	.block-py {
		padding-top: 24px !important;
	}
	.block-pb,
	.block-py {
		padding-bottom: 24px !important;
	}
	.block-pt-big-mobile,
	.block-py-big-mobile {
		padding-top: 32px !important;
	}

	.pr-0-mobile,
	.px-0-mobile {
		padding-right: 0 !important;
	}
	.pl-0-mobile,
	.px-0-mobile {
		padding-left: 0 !important;
	}

	.out-container-x-mobile {
		margin-right: -15px !important;
		margin-left: -15px !important;
	}
	.out-container-right-mobile {
		margin-right: -15px !important;
	}
	.out-container-left-mobile {
		margin-left: -15px !important;
	}
}
@media (min-width: 992px) {
	.mobile-only {
		display: none !important;
	}

	.flex-fill-desktop {
		flex: 1 1 auto !important;
	}

	.h-100-desktop {
		height: 100% !important;
	}

	.block-mb-medium {
		margin-bottom: 40px !important;
	}
	.block-mb {
		margin-bottom: 70px !important;
	}

	.block-pt,
	.block-py {
		padding-top: 70px !important;
	}
	.block-pb,
	.block-py {
		padding-bottom: 70px !important;
	}

	.mb-auto-desktop {
		margin-bottom: auto !important;
	}

	.out-container-right-desktop {
		margin-right: -15px !important;
	}
	.out-container-left-desktop {
		margin-left: -15px !important;
	}
}

/* decor */
.decor {
	position: absolute;
	overflow: hidden;
}

/* default direction of "sprite.svg#arrow-down" - down */
.rotate-top {
	transform: rotate(180deg);
}
.rotate-right {
	transform: rotate(-90deg);
}
.rotate-left {
	transform: rotate(90deg);
}

.hr {
	min-width: 100%;
	min-height: 1px;
	width: 100%;
	height: 1px;
	background: var(--gray3-color);
	opacity: 0.3;
}

.breadcrumbs {
	width: 100%;
	margin-bottom: 24px;
	font-size: 14px;
	line-height: 1.2;

	&__list {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style: none;
	}
	&__item {
		position: relative;
		display: inline-flex;
	}
	&__item:not(:first-of-type)::before {
		content: "\00BB";
		padding-right: 10px;
		padding-left: 10px;
		opacity: 0.6;
		color: var(--light-black-color);
	}
	&__link {
		opacity: 0.6;
		color: var(--light-black-color);
		font-size: 14px;
		line-height: 1.2;
	}
	&__item:last-of-type &__link {
		cursor: default;
	}
}

.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid transparent;
	border-radius: 2px;
	background-color: transparent;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	cursor: pointer;
	transition: 0.15s ease-in-out;
}
.btn:not(.btn-noframe) {
	border-color: var(--blue-color);
	background-color: var(--blue-color);
	color: var(--white-color);
}
.btn:not(.btn-square, .btn-reset) {
	padding-right: 18px;
	padding-left: 18px;
}
.btn-square {
	padding-right: 10px;
	padding-left: 10px;
}
.btn-noframe {
	color: var(--blue-color);
	font-weight: 400;
}
.btn-noframe--bordered {
	border-color: var(--blue-color);
}
.btn .content-text {
	pointer-events: none;
}
.btn .content-text--right {
	padding-left: 8px;
}
.btn .content-text--left {
	padding-right: 8px;
}
.btn .icon {
	position: relative;
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	transition: 0.15s ease-in-out;
}
.btn:not(.btn-noframe) .icon {
	fill: var(--white-color);
}
.btn-noframe .icon {
	fill: var(--blue-color);
}

.btn--gray2 {
	border-color: var(--gray2-color) !important;
	background-color: var(--gray2-color) !important;
	color: var(--black-color) !important;
}
.btn--gray2 .icon {
	fill: var(--black-color) !important;
}
.btn--gray6 {
	border-color: var(--gray6-color) !important;
	background-color: var(--gray6-color) !important;
	color: var(--black-color) !important;
}
.btn--gray6 .icon {
	fill: var(--black-color) !important;
}

.btn-noframe.btn--blue {
	color: var(--blue-color) !important;
}
.btn-noframe.btn--blue .icon {
	fill: var(--blue-color) !important;
}

.btn-dropdown--open .content-icon {
	transform: scale(-1);
}
.btn:not(.btn-dropdown) .content-dropdown {
	display: none;
}
.btn-dropdown .content-dropdown {
	z-index: -1;
	position: absolute;
	display: none;
	left: 0;
	bottom: 0;
	transform: translateY(calc(100% + 6px));
	min-width: 305px;
	width: 305px !important;
	height: auto !important;
	padding: 24px 32px !important;
	border: 1px solid transparent;
	opacity: 0;
	text-align: left;
	user-select: none;
	background-color: var(--white-color);
}
.btn-dropdown--open .content-dropdown--open {
	z-index: 2;
	display: block;
}
.btn-dropdown .content-dropdown--transition {
	transition: transform 0.15s ease-in-out 0.15s,
				border-color 0.15s ease-in-out 0.15s,
				opacity 0.15s ease-in-out 0.15s;
}
.btn-dropdown--open .content-dropdown--open.content-dropdown--transition {
	transform: translateY(calc(100% + 6px));
	opacity: 0;
	user-select: none;
}
.btn-dropdown--open .content-dropdown--open:not(.content-dropdown--transition) {
	transform: translateY(calc(100% + 1px));
	border-color: var(--gray1-color);
	opacity: 1;
	user-select: auto;
}
.btn-dropdown .content-dropdown--right {
	left: unset;
	right: 0;
}
.btn-dropdown .content-dropdown__list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.btn-dropdown .content-dropdown__item:not(:last-of-type) {
	margin-bottom: 16px;
}
.btn-dropdown .content-dropdown__link {
	display: flex;
	align-items: center;
	color: var(--light-black-color);
	line-height: 1.3;
	cursor: default;
}
.btn-dropdown--open .content-dropdown__link {
	cursor: pointer;
}
.btn-reset {
	padding-right: 0;
	padding-left: 0;
	color: var(--gray4-color);
	text-decoration: underline;
	text-decoration-color: var(--gray4-color);
}
@media (max-width: 767.98px) {
	.btn-w100-mobile {
		width: 100% !important;
	}
}
@media (min-width: 992px) {
	.btn-dropdown .content-dropdown__link {
		transition: .15s ease-in-out;
	}
	.btn-reset:hover {
		text-decoration: none;
	}
}

.semibold {
	font-weight: 600;
}

.title-mb-xsmall {
	margin-bottom: 8px !important;
}
.title-mb-small {
	margin-bottom: 12px !important;
}
.title-mb {
	margin-bottom: 16px !important;
}
.title-mb-big {
	margin-bottom: 24px !important;
}

.category-title {
	color: var(--gray4-color);
	font-size: 14px;

	&:not(:last-child) {
		margin-bottom: 4px;
	}
}

.text-block {
	color: var(--light-black-color);
	line-height: 22px;

	& p {
		margin: 0;
	}
	& p:not(:last-of-type) {
		margin-bottom: 20px;
	}
	& ul {
		margin: 0;
		padding-left: 28px;
		list-style: square;
	}
	& ul li {
		padding-left: 4px;
	}
	& ul li:not(:last-of-type) {
		margin-bottom: 16px;
	}
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
input:disabled,
input.disabled {
	cursor: not-allowed;
}

.bg-gray2 {
	background-color: var(--gray2-color);
}

.bg-radial-blue {
	background: radial-gradient(251.12% 408.46% at -6.96% -203.08%,
								rgba(0, 121, 193, 0.5) 0%,
								rgba(0, 121, 193, 0.25646) 32.11%,
								rgba(0, 121, 193, 0.123458) 58.28%,
								rgba(0, 121, 193, 0.0469639) 76.68%,
								rgba(0, 121, 193, 0) 100%);
}

.selection-committee {
	padding: 24px 30px;
	line-height: 21px;

	&__heading {
		margin-bottom: 32px;
	}
	&__contacts {
		margin-bottom: 16px;
	}
	&:not(.footer__committee-subscription) &__contacts-item:not(:last-of-type) {
		margin-bottom: 32px;
	}
	&__contacts-title {
		color: var(--gray4-color);
		font-weight: 600;
	}
	&__contacts-item:not(.selection-committee__contacts-address) &__contacts-title {
		margin-bottom: 8px;
	}
	&__contacts-address &__contacts-title {
		margin-bottom: 12px;
	}
	&__contacts-item p {
		color: var(--light-black-color);
	}
	&__contacts-item p:not(:last-of-type) {
		margin: 0 0 12px;
	}
	&__contacts-item p:last-of-type {
		margin: 0;
	}
	&__route {
		margin-bottom: 24px;
	}
	&__route a {
		display: inline-flex;
		align-items: center;
		color: var(--blue-color);
		line-height: 24px;
		text-decoration: underline solid 1px var(--gray3-color);
		text-underline-offset: 5px;
	}
	&__btn .btn:not(.btn-square) {
		width: 100%;
	}
}

.page-content {
	&__back {
		display: inline-flex;
		align-items: center;
		color: var(--light-black-color);
		font-size: 14px;
		line-height: 24px;
	}
	&__back .content-text:not(:first-child) {
		padding-left: 4px;
	}
	&__filter {
		margin-bottom: 32px;
	}
	&__filter-btns .btn:not(:last-of-type) {
		margin-right: 20px;
	}
}
.page-search {
	display: flex;

	&:focus {
		box-shadow: 0 0 3px var(--blue-color);
	}
	&:focus .field-input--search {
		box-shadow: none;
	}
}
.sidebar {
	&__section-list a.active {
		color: var(--blue-color);
	}
}
@media (max-width: 767.98px) {
	.page-content {
		&__title-block,
		&__title-item:not(:last-of-type) {
			margin-bottom: 30px;
		}
		&__title-btn .btn {
			width: 100%;
		}
		&__filter-item:not(:nth-last-child(-n+2)) {
			margin-bottom: 20px;
		}
		&__filter-item:nth-last-child(-n+2) {
			margin-bottom: 30px;
		}
		&__filter-item:last-of-type {
			margin-bottom: 0;
		}
		&__filter-btns .btn {
			min-width: calc((100% - 20px) / 2);
		}
	}
}
@media (max-width: 991.98px) {
	.page-wrapper {
		margin-bottom: 40px;
		padding-top: 20px;
	}
	.page-content {
		&__title {
			margin-bottom: 24px;
		}
		&__back {
			margin-bottom: 12px;
		}
	}
}
@media (max-width: 1199.98px) {
	.sidebar {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.page-content {
		&__filter-item-1\/2 {
			min-width: calc((100vw - 30px - 40px - 20px) / 2);
			width: calc((100vw - 30px - 40px - 20px) / 2);
		}
		&__filter-item-1\/3 {
			min-width: calc((100vw - 30px - 40px - 40px) / 3);
			width: calc((100vw - 30px - 40px - 40px) / 3);
		}
		&__filter-item-1\/4 {
			min-width: calc((100vw - 30px - 40px - 60px) / 4);
			width: calc((100vw - 30px - 40px - 60px) / 4);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.page-content {
		&__filter-item-1\/2 {
			min-width: calc((100vw - 40px - 40px - 20px) / 2);
			width: calc((100vw - 40px - 40px - 20px) / 2);
		}
		&__filter-item-1\/3 {
			min-width: calc((100vw - 40px - 40px - 40px) / 3);
			width: calc((100vw - 40px - 40px - 40px) / 3);
		}
		&__filter-item-1\/4 {
			min-width: calc((100vw - 40px - 40px - 60px) / 4);
			width: calc((100vw - 40px - 40px - 60px) / 4);
		}
	}
}
@media (min-width: 1200px) and (max-width: 1319.98px) {
	.page-content {
		width: calc(100vw - 40px - 355px);

		&__filter-item-1\/2 {
			min-width: calc((100vw - 355px - 40px - 40px - 20px) / 2);
			width: calc((100vw - 355px - 40px - 40px - 20px) / 2);
		}
		&__filter-item-1\/3 {
			min-width: calc((100vw - 355px - 40px - 40px - 40px) / 3);
			width: calc((100vw - 355px - 40px - 40px - 40px) / 3);
		}
		&__filter-item-1\/4 {
			min-width: calc((100vw - 355px - 40px - 40px - 60px) / 4);
			width: calc((100vw - 355px - 40px - 40px - 60px) / 4);
		}
	}
}
@media (min-width: 768px) {
	.page-content {
		&__title-block {
			display: flex;
			justify-content: space-between;
		}
		&__filter {
			padding: 20px;
		}
		&__filter-content {
			display: flex;
			margin: 0 -20px -24px 0;
		}
		&__filter-item {
			display: flex;
			margin: 0 20px 24px 0;
		}
		&__filter-year {
			min-width: 165px;
			width: 20%;
		}
		&__filter-faculty {
			flex: 1;
		}
	}
}
@media (min-width: 992px) {
	.page-wrapper {
		margin-bottom: 70px;
		padding-top: 45px;
	}
	.page-content {
		&__title {
			margin-bottom: 40px;
		}
		&__back {
			margin-bottom: 24px;
		}
		& .field-input--search:hover {
			box-shadow: 0 0 3px var(--blue-color);
		}
	}
	.page-search:hover {
		box-shadow: 0 0 3px var(--blue-color);
	}
}
@media (min-width: 1200px) {
	.page-wrapper {
		display: flex;
	}

	.sidebar {
		min-width: 305px;
		width: 305px;
		margin-right: 50px;
		border-top: 1px solid var(--gray3-color);

		&__item:not(:last-of-type) {
			margin-bottom: 30px;
		}
		&__section {
			padding: 24px 30px;
			color: var(--light-black-color);
		}
		&__section-title {
			margin-bottom: 24px;
			font-weight: 700;
			font-size: 16px;
		}
		&__section-list {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		&__section-list li:not(:last-of-type) {
			margin-bottom: 16px;
		}
		&__slider {
			background-color: var(--gray6-color);
		}
		&__slider,
		&__slider .swiper-slide {
			min-width: 305px;
			min-height: 400px;
			width: 305px;
			height: 400px;
		}
		&__slider .swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__slider-slide-size {
			opacity: 0.2;
			color: var(--light-black-color);
			font-family: "PF Agora Sans Pro", sans-serif;
			font-weight: 500;
			font-size: 24px;
		}

		& .swiper-navigation {
			position: absolute;
			right: 30px;
			bottom: 30px;
			left: 30px;
		}
		& .swiper-pagination {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		& .swiper-pagination-bullet {
			min-width: 8px;
			min-height: 8px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			opacity: 0.3;
			background-color: var(--light-black-color);
			transition: 0.15s ease-in-out;
		}
		& .swiper-pagination-bullet-active {
			opacity: 1;
		}
		& .swiper-pagination-bullet:not(:last-of-type) {
			margin-right: 7px;
		}
	}

	.page-content {
		flex: 1;
	}
}
@media (min-width: 1320px) {
	.page-content {
		width: calc(1280px - 355px);

		&__filter-item-1\/2 {
			min-width: calc((1280px - 355px - 40px - 20px) / 2);
			width: calc((1280px - 355px - 40px - 20px) / 2);
		}
		&__filter-item-1\/3 {
			min-width: calc((1280px - 355px - 40px - 40px) / 3);
			width: calc((1280px - 355px - 40px - 40px) / 3);
		}
		&__filter-item-1\/4 {
			min-width: calc((1280px - 355px - 40px - 60px) / 4);
			width: calc((1280px - 355px - 40px - 60px) / 4);
		}
	}
}

.note {
	padding: 24px 30px;
}
.note-quotes {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 20px;
		width: 108px;
		height: 80px;
		background: url("/src/img/quotes.png") no-repeat center / 108px 80px;
	}
	& .text-block {
		position: relative;
	}
}

.img-bg {
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&::before {
		z-index: -1;
		background: linear-gradient(98.46deg, #4F4F4F 0.26%, #6F6F6F 100.48%), #C4C4C4;
	}
}

.swiper-navigation {
	z-index: 1;
	position: relative;
	display: flex;
	align-items: center;

	& .swiper-button-prev,
	& .swiper-button-next {
		min-width: 48px;
		min-height: 48px;
		width: 48px;
		height: 48px;
		padding: 12px;
		border-radius: 2px;
		background-color: var(--blue-color);
		cursor: pointer;
	}
	& .swiper-button-prev {
		margin-right: 10px;
	}
	& .swiper-button-prev .icon,
	& .swiper-button-next .icon {
		fill: var(--white-color);
	}
	& .swiper-button-prev .icon {
		transform: rotate(90deg);
	}
	& .swiper-button-next .icon {
		transform: rotate(-90deg);
	}
}

.basic-slider-wrapper {
	position: relative;

	& .swiper-navigation-none {
		display: none;
	}
	& .swiper-navigation:not(.swiper-navigation-none) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}
	& .swiper-button-prev,
	& .swiper-button-next {
		pointer-events: auto;
	}
	& .swiper-button-prev {
		margin-right: auto;
	}
}
.basic-slider {
	& .swiper-slide {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.15s ease-in-out;
	}
	& .swiper-slide:not(:last-of-type) {
		margin-right: 20px;
	}
	& .swiper-slide::before,
	& .swiper-slide::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	& .swiper-slide::before {
		z-index: -1;
		background: linear-gradient(98.46deg, #4F4F4F 0.26%, #6F6F6F 100.48%), #C4C4C4;
	}
}
@media (max-width: 991.98px) {
	.basic-slider-wrapper {
		& .swiper-navigation {
			display: none;
		}
	}
}
@media (min-width: 992px) and (max-width: 1319.98px) {
	.basic-slider-wrapper {
		& .swiper-navigation {
			right: -20px;
			left: -20px;
		}
	}
}
@media (min-width: 1320px) {
	.basic-slider-wrapper {
		& .swiper-navigation {
			right: -24px;
			left: -24px;
		}
	}
}

.tabs-heading {
	overflow: auto;
}
.tabs-heading::-webkit-scrollbar {
	display: none;
}
.tabs-heading__list,
.tabs-heading__item {
	position: relative;
}
.tabs-heading__list {
	display: flex;
	margin-bottom: 24px;
}
.tabs-heading__item:not(:last-of-type) {
	margin-right: 32px;
}
.tabs-heading__title {
	color: var(--gray1-color);
	white-space: nowrap;
	cursor: pointer;
	transition: 0.15s ease-in-out;
}
.tabs-heading__item.selected .tabs-heading__title {
	color: var(--light-black-color);
}
.tab-content__section {
	display: none;
}
.tab-content__section.active {
	display: block;
}
.tab-content__body {
	margin-bottom: 40px;
}
.tab-content__item {
	display: flex;
	flex-direction: column;
	padding: 28px 30px 24px;
	border-top: 1px solid var(--gray6-color);
}
.tab-content__item:not(:last-of-type) {
	margin-bottom: 24px;
}
.tab-content__title {
	margin-bottom: 16px;
}
.tab-content__descr {
	flex: 1;
	color: var(--gray4-color);
	line-height: 21px;
}
.tab-content__section-departments .tab-content__item {
	min-height: 275px;
}
.tab-content__section-labs .tab-content__item {
	min-height: 290px;
}
@media (max-width: 991.98px) {
	.tab-content__descr {
		margin-bottom: 50px;
	}
}
@media (min-width: 992px) {
	.tabs-heading__item:hover .tabs-heading__title {
		color: var(--light-black-color);
	}
	.tab-content__descr {
		margin-bottom: 30px;
	}
}

.pagination {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	& a {
		border-radius: 0;
	}
	& a:not(.pagination__dots):not(.active) {
		border-color: var(--gray2-color);
		background-color: var(--gray2-color);
		color: var(--black-color);
		font-weight: 400;
	}
	& a:not(.pagination__dots).active {
		border-color: var(--blue-color);
		background-color: var(--blue-color);
		color: var(--white-color);
		font-weight: 700;
	}
	& a:not(.active) .icon {
		fill: var(--black-color);
	}
	& a:not(.pagination__dots) span {
		display: flex;
		justify-content: center;
		min-width: 24px;
		min-height: 24px;
		width: 24px;
		height: 24px;
	}
	& a span,
	& a .icon {
		transition: none;
	}
	&__dots {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 13px;
		width: 13px;
		padding: 12px 0;
		background-color: transparent;
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
		font-size: 15px;
		line-height: 24px;
		cursor: pointer;
		transition: 0.15s ease-in-out;
	}
}
@media (max-width: 991.98px) {
	.pagination {
		&__item:not(:last-of-type) {
			margin-right: 7px;
		}
	}
}
@media (min-width: 992px) {
	.pagination {
		&__item:not(:last-of-type) {
			margin-right: 8px;
		}
		& a:not(.pagination__dots):hover {
			border-color: var(--blue-color) !important;
			background-color: var(--blue-color) !important;
			color: var(--white-color) !important;
		}
		& a:not(.pagination__dots):hover .icon {
			fill: var(--white-color) !important;
		}
	}
}

.accordion-simple {
	& .accordion__item::before,
	& .accordion__collapse-item::before {
		content: none;
	}
	& .accordion__btn {
		transition: 0s;
	}
	& .accordion__item.active .accordion__btn {
		padding-bottom: 12px;
	}
	& .accordion__collapse-item {
		padding-top: 0;
	}
	& .accordion__collapse .text-block {
		font-size: 16px;
	}
}
.accordion {
	&__item {
		position: relative;
		transition: 0.15s ease-in-out;
	}
	&__item::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 1px;
		background-color: var(--gray6-color);
		transition: 0.15s ease-in-out;
	}
	&__item.active::before {
		opacity: 0;
	}
	&__item.active {
		background: radial-gradient(
				251.12% 408.46% at -6.96% -203.08%,
				rgba(0, 121, 193, 0.25) 0%,
				rgba(0, 121, 193, 0.12823) 32.11%,
				rgba(0, 121, 193, 0.061729) 58.28%,
				rgba(0, 121, 193, 0.0234819) 76.68%,
				rgba(0, 121, 193, 0) 100%
		);
	}
	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 24px;
		border: none;
		background-color: transparent;
		text-align: left;
		font-weight: 400;
		cursor: pointer;
		transition: 0.15s ease-in-out;
	}
	&__btn .content-text {
		flex: 1;
		padding: 1px 24px 0 0;
		pointer-events: none;
	}
	&__btn .icon {
		min-width: 24px;
		min-height: 24px;
		width: 24px;
		height: 24px;
		transition: 0.15s ease-in-out;
	}
	&__btn.open .icon {
		transform: scale(-1);
	}
	&__collapse.collapsed {
		display: none;
	}
	&__collapse-item {
		position: relative;
		padding: 24px;
	}
	&__collapse-item::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 1px;
		opacity: 0.3;
		background-color: var(--blue-color);
	}
	&__collapse-item:not(:last-of-type) {
		margin-bottom: 30px;
	}
	&__collapse-basic {
		color: var(--light-black-color);
	}
	&__collapse-title {
		margin-bottom: 8px;
		font-weight: 600;
		line-height: 20px;
	}
	&__collapse-value {
		font-size: 16px;
		line-height: 21px;
	}
	&__collapse-head &__collapse-title {
		margin-bottom: 16px;
	}
	&__collapse-head-content {
		display: flex;
		margin-bottom: 30px;
	}
	&__collapse-head-view {
		margin-right: 20px;
	}
	&__collapse-head-view img {
		min-width: 52px;
		width: 52px;
		min-height: 52px;
		height: 52px;
		overflow: hidden;
		object-fit: cover;
		border: 1px solid var(--gray1-color);
		border-radius: 50%;
		background-color: var(--gray6-color);
	}
	&__collapse-head-view-bg {
		min-width: 52px;
		width: 52px;
		min-height: 52px;
		height: 52px;
		overflow: hidden;
		border: 1px solid var(--gray1-color);
		border-radius: 50%;
		background-color: var(--gray6-color);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
	&__collapse-head-descr-title {
		color: var(--light-black-color);
		font-size: 16px;
		line-height: 21px;
	}
	&__collapse-head-descr-subtitle {
		margin-bottom: 12px;
		opacity: 0.6;
		color: var(--light-black-color);
		font-size: 13px;
		line-height: 17px;
	}
	&__collapse-head-descr-contacts {
		color: var(--blue-color);
		font-size: 16px;
		line-height: 21px;
	}
}
@media (max-width: 767.98px) {
	.accordion {
		&__collapse-basic-item:not(:last-of-type) {
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 991.98px) {
	.accordion {
		&__item:not(:last-of-type) {
			margin-bottom: 16px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.accordion {
		&__collapse-basic {
			margin: 0 -30px -30px 0;
		}
		&__collapse-basic-item {
			min-width: calc(100% / 3 - 30px);
			width: calc(100% / 3 - 30px);
			margin: 0 30px 30px 0;
		}
	}
}
@media (min-width: 768px) {
	.accordion {
		&__collapse-basic {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
@media (min-width: 992px) {
	.accordion {
		&__item:not(:last-of-type) {
			margin-bottom: 24px;
		}
		&__collapse-basic {
			margin: 0 -40px -30px 0;
		}
		&__collapse-basic-item {
			min-width: calc(100% / 3 - 40px);
			width: calc(100% / 3 - 40px);
			margin: 0 40px 30px 0;
		}
	}
}

.persons {
	&.persons-details &__item {
		margin-bottom: 32px;
	}
	&__view-content {
		position: relative;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}
	&__view-content::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background:
			radial-gradient(
					251.12% 408.46% at -6.96% -203.08%,
					rgba(0, 121, 193, 0.5) 0%,
					rgba(0, 121, 193, 0.25646) 32.11%,
					rgba(0, 121, 193, 0.123458) 58.28%,
					rgba(0, 121, 193, 0.0469639) 76.68%,
					rgba(0, 121, 193, 0) 100%
			),
			linear-gradient(98.46deg, #4F4F4F 0.26%, #6F6F6F 100.48%), #C4C4C4;
	}
	&__reward {
		display: inline-flex;
		width: min-content;
		margin-bottom: 15px;
		padding: 5px 11px;
		border: 1px solid var(--gray6-color);
		white-space: nowrap;
		font-size: 14px;
		line-height: 17px;
	}
	&__title {
		margin-bottom: 12px;
	}
	&__subtitle {
		color: var(--gray4-color);
		line-height: 1.2;
	}
	&:not(.persons-details) &__subtitle {
		margin-bottom: 24px;
	}
	&__descr {
		margin-bottom: 20px;
		padding-top: 8px;
	}
	&__descr-contacts {
		padding-bottom: 12px;
	}
	&.persons-details &__descr {
		margin: 0;
		padding: 0;
	}
	&__descr p {
		margin: 0;
		font-size: 14px;
		line-height: 1.4;
	}
	&__descr p:not(:last-child) {
		margin-bottom: 8px;
	}
	&__socials {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px -8px 0;
		padding: 0;
		list-style: none;
	}
	&__socials li {
		margin: 0 8px 8px 0;
	}
	&__socials a {
		display: flex;
	}
	&__socials .icon {
		min-width: 40px;
		min-height: 40px;
		width: 40px;
		height: 40px;
		fill: var(--blue-color);
	}
}
.person-leader-details-life {
	&__item {
		display: flex;
	}
	&__item:not(:last-of-type) {
		margin-bottom: 32px;
	}
	&__view-content {
		position: relative;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}
	&__view-content::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background:
			radial-gradient(
					251.12% 408.46% at -6.96% -203.08%,
					rgba(0, 121, 193, 0.5) 0%,
					rgba(0, 121, 193, 0.25646) 32.11%,
					rgba(0, 121, 193, 0.123458) 58.28%,
					rgba(0, 121, 193, 0.0469639) 76.68%,
					rgba(0, 121, 193, 0) 100%
			),
			linear-gradient(98.46deg, #4F4F4F 0.26%, #6F6F6F 100.48%), #C4C4C4;
	}
	&__title:not(:last-child) {
		margin-bottom: 4px;
	}
	&__subtitle {
		color: var(--gray4-color);
		font-size: 14px;
	}
	&__info .text-block p {
		font-size: 14px;
		line-height: 1.4;
	}
}
@media (max-width: 767.98px) {
	.persons {
		&:not(.persons-details) &__item {
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid rgba(196,196,196,0.3);
		}
		&.persons-details &__item {
			display: flex;
			flex-direction: column;
		}
		&__view,
		&__view-content {
			min-width: 170px;
			width: 170px;
		}
		&:not(.persons-details-council) &__view {
			margin-bottom: 30px;
		}
		&.persons-details &__view {
			order: 2;
		}
		&__view-content {
			min-height: calc(170px * 1.4);
			height: calc(170px * 1.4);
		}
		&.persons-details &__info {
			order: 3;
		}
		&.persons-details &__info-title {
			order: 1;
			margin-bottom: 30px;
		}
	}
	.person-leader-details-life {
		&__item {
			flex-direction: column;
		}
		&__view {
			order: 2;
			min-width: 50%;
			width: 50%;
		}
		&__view-content {
			min-height: calc(((100vw - 30px) * 0.5) * 1.4);
			height: calc(((100vw - 30px) * 0.5) * 1.4);
		}
		&__info {
			order: 1;
			margin-bottom: 30px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.persons {
		&.persons-details &__item {
			grid-template-columns: 195px calc(100vw - 30px - 195px);
		}
		&__info,
		&.persons-details &__info-title {
			padding-left: 30px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.persons {
		&.persons-details &__item {
			grid-template-columns: 195px calc(100vw - 40px - 195px);
		}
	}
}
@media (min-width: 1200px) and (max-width: 1319.98px) {
	.persons {
		&.persons-details &__item {
			grid-template-columns: 195px calc(100vw - 40px - 355px - 195px);
		}
	}
}
@media (min-width: 768px) {
	.persons {
		&:not(.persons-details) &__item {
			display: flex;
			margin-bottom: 32px;
		}
		&.persons-details &__item {
			display: grid;
		}
		&__item-leader {
			padding-bottom: 32px;
			border-bottom: 1px solid rgba(196,196,196,0.3);
		}
		&__view {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
		}
		&__view,
		&__view-content {
			min-width: 195px;
			width: 195px;
		}
		&__view-content {
			min-height: calc(195px * 1.4);
			height: calc(195px * 1.4);
		}
		&__info,
		&__info-title {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&:not(.persons-details):not(.persons-details-council) &__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
		}
		&.persons-details &__info {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		&.persons-details &__info-title {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		&.persons-details-council &__info-title {
			grid-row: 1 / 3;
			justify-content: center;
		}
	}
	.person-leader-details-life {
		&__view,
		&__view-content {
			min-width: 125px;
			width: 125px;
		}
		&__view-content {
			min-height: 185px;
			height: 185px;
		}
		&__info {
			padding: 20px 0 20px 40px;
		}
	}
}
@media (min-width: 992px) {
	.persons {
		&__info,
		&.persons-details &__info-title {
			padding-left: 40px;
		}
		&__socials a:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}
@media (min-width: 1320px) {
	.persons {
		&.persons-details &__item {
			grid-template-columns: 195px calc((1280px - 355px) - 195px);
		}
	}
}

.persons-cards {
	display: flex;
	flex-wrap: wrap;

	&__view,
	&__view-content {
		width: 100%;
	}
	&__view {
		margin-bottom: 20px;
	}
	&__view-content {
		position: relative;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}
	&__view-content::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background:
			radial-gradient(
					251.12% 408.46% at -6.96% -203.08%,
					rgba(0, 121, 193, 0.5) 0%,
					rgba(0, 121, 193, 0.25646) 32.11%,
					rgba(0, 121, 193, 0.123458) 58.28%,
					rgba(0, 121, 193, 0.0469639) 76.68%,
					rgba(0, 121, 193, 0) 100%
			),
			linear-gradient(98.46deg, #4F4F4F 0.26%, #6F6F6F 100.48%), #C4C4C4;
	}
	&__descr {
		text-align: center;
	}
	&__descr-title {
		margin-bottom: 8px;
		color: var(--light-black-color);
		font-size: 16px;
		line-height: 18px;
	}
	&__descr-subtitle {
		color: var(--gray4-color);
		line-height: 1.2;
	}
}
.persons-cards-life {
	& .persons-cards__view {
		margin-bottom: 0;
	}
	& .persons-cards__view-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 28px 24px;
	}
	& .persons-cards__view-title {
		color: var(--white-color);
	}
}
@media (max-width: 575.98px) {
	.persons-cards-life {
		& .persons-cards__item {
			min-width: calc(100vw - 30px);
			width: calc(100vw - 30px);
		}
		& .persons-cards__view,
		& .persons-cards__view-content {
			min-height: calc((100vw - 30px) * 0.81);
			height: calc((100vw - 30px) * 0.81);
		}
	}
}
@media (max-width: 767.98px) {
	.persons-cards {
		margin-right: -15px;
		padding-bottom: 10px;

		&__item {
			min-width: calc((100vw - 30px - 20px) / 2);
			width: calc((100vw - 30px - 20px) / 2);
			margin: 0 15px 20px 0;
			padding-bottom: 15px;
		}
		&__view,
		&__view-content {
			min-height: calc(((100vw - 30px - 20px) / 2) * 1.4);
			height: calc(((100vw - 30px - 20px) / 2) * 1.4);
		}
	}
	.persons-cards-life {
		& .persons-cards__item {
			margin-bottom: 20px;
			padding: 0;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.persons-cards-life {
		margin-right: 0;

		& .persons-cards__item {
			min-width: calc((100vw - 30px - 20px) / 2);
			width: calc((100vw - 30px - 20px) / 2);
		}
		& .persons-cards__item:not(:nth-child(odd)) {
			margin-right: 0;
		}
		& .persons-cards__item:not(:nth-child(even)) {
			margin-right: 20px;
		}
		& .persons-cards__view,
		& .persons-cards__view-content {
			min-height: calc(((100vw - 30px - 20px) / 2) * 1.23);
			height: calc(((100vw - 30px - 20px) / 2) * 1.23);
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.persons-cards {
		&__item {
			min-width: calc((100vw - 30px - 40px) / 3);
			width: calc((100vw - 30px - 40px) / 3);
		}
		&__view,
		&__view-content {
			min-height: calc(((100vw - 30px - 40px) / 3) * 1.4);
			height: calc(((100vw - 30px - 40px) / 3) * 1.4);
		}
	}
	.persons-cards:not(.persons-cards-life) {
		& .persons-cards__item:not(:nth-child(3n)) {
			margin-right: 20px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.persons-cards {
		&__item {
			min-width: calc((100vw - 40px - 60px) / 4);
			width: calc((100vw - 40px - 60px) / 4);
		}
		&__view,
		&__view-content {
			min-height: calc(((100vw - 40px - 60px) / 4) * 1.4);
			height: calc(((100vw - 40px - 60px) / 4) * 1.4);
		}
	}
	.persons-cards-life {
		& .persons-cards__item {
			min-width: calc((100vw - 40px - 40px) / 3);
			width: calc((100vw - 40px - 40px) / 3);
		}
		& .persons-cards__view,
		& .persons-cards__view-content {
			min-height: calc(((100vw - 40px - 40px) / 3) * 1.23);
			height: calc(((100vw - 40px - 40px) / 3) * 1.23);
		}
	}
}
@media (min-width: 1200px) and (max-width: 1319.98px) {
	.persons-cards {
		&__item {
			min-width: calc((100vw - 40px - 355px - 60px) / 4);
			width: calc((100vw - 40px - 355px - 60px) / 4);
		}
		&__view,
		&__view-content {
			min-height: calc(((100vw - 40px - 355px - 60px) / 4) * 1.4);
			height: calc(((100vw - 40px - 355px - 60px) / 4) * 1.4);
		}
	}
	.persons-cards-life {
		& .persons-cards__item {
			min-width: calc((100vw - 40px - 355px - 40px) / 3);
			width: calc((100vw - 40px - 355px - 40px) / 3);
		}
		& .persons-cards__view,
		& .persons-cards__view-content {
			min-height: calc(((100vw - 40px - 355px - 40px) / 3) * 1.23);
			height: calc(((100vw - 40px - 355px - 40px) / 3) * 1.23);
		}
	}
}
@media (min-width: 768px) {
	.persons-cards {
		&__item {
			margin-bottom: 40px;
		}
	}
	.persons-cards-life {
		& .persons-cards__item {
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 992px) {
	.persons-cards:not(.persons-cards-life) {
		& .persons-cards__item:not(:nth-child(4n)) {
			margin-right: 20px;
		}
	}
	.persons-cards-life {
		& .persons-cards__item:not(:nth-child(3n)) {
			margin-right: 20px;
		}
	}
}
@media (min-width: 1320px) {
	.persons-cards {
		&__item {
			min-width: calc((1280px - 355px - 60px) / 4);
			width: calc((1280px - 355px - 60px) / 4);
		}
		&__view,
		&__view-content {
			min-height: calc(((1280px - 355px - 60px) / 4) * 1.4);
			height: calc(((1280px - 355px - 60px) / 4) * 1.4);
		}
	}
	.persons-cards-life {
		& .persons-cards__item {
			min-width: calc((1280px - 355px - 40px) / 3);
			width: calc((1280px - 355px - 40px) / 3);
		}
		& .persons-cards__view,
		& .persons-cards__view-content {
			min-height: calc(((1280px - 355px - 40px) / 3) * 1.23);
			height: calc(((1280px - 355px - 40px) / 3) * 1.23);
		}
	}
}

.timestamp {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;

	& li {
		position: relative;
		display: flex;
		padding-left: 28px;
	}
	& li:not(:last-of-type) {
		padding-bottom: 24px;
	}
	& li::before,
	& li::after {
		content: "";
		position: absolute;
	}
	& li::before {
		z-index: 1;
		top: 9.5px;
		left: 7.5px;
		width: 5px;
		height: 5px;
		background-color: var(--blue-color);
	}
	& li:not(:last-of-type)::after {
		top: 10.5px;
		left: 9.5px;
		width: 1px;
		height: 100%;
		background: repeating-linear-gradient(to bottom, transparent 0, transparent 2px, var(--gray1-color) 2px, var(--gray1-color) 4px);
	}
	&__title {
		min-width: 105px;
		width: 105px;
		margin-right: 8px;
		font-weight: 600;
	}
}

input[type='checkbox'] {
	position: relative;
	display: inline-flex;
	min-width: 20px;
	width: 20px;
	min-height: 20px;
	height: 20px;
	margin: 0 12px 0 0;
	border: 2px solid var(--gray3-color);
	cursor: pointer;
	appearance: none;
	transition: 0.15s ease-in-out;
}
input[type='checkbox']::before,
input[type='checkbox']::after {
	content: "";
	position: absolute;
	top: 50%;
	height: 2px;
	opacity: 0;
	background-color: var(--gray4-color);
	transition: 0.15s ease-in-out;
}
input[type='checkbox']:checked::before,
input[type='checkbox']:checked::after {
	opacity: 1;
}
input[type='checkbox']::before {
	left: 2.5px;
	width: 5px;
	transform: rotate(45deg);
}
input[type='checkbox']::after {
	right: 1.5px;
	width: 10px;
	margin-top: -1px;
	transform: rotate(-45deg);
}
input[type="date"] {
	font-family: "Open Sans", sans-serif;
}
textarea {
	font-family: "Open Sans", sans-serif;
}

.agree-blue {
	& input[type='checkbox'] {
		border-color: var(--blue-color);
	}
	& input[type='checkbox']::before,
	& input[type='checkbox']::after {
		background-color: var(--blue-color);
	}
}

.field-wrapper {
	display: inline-flex;
	align-items: flex-end;
	width: 100%;

	& label,
	& .label {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
	}
	& .label {
		cursor: default;
	}
	& .label-title {
		flex: 1;
		display: flex;
		align-items: flex-end;
		min-height: 28px;
	}
	& .label-text {
		display: inline-flex;
		margin-right: 4px;
		margin-bottom: 8px;
		vertical-align: bottom;
		white-space: nowrap;
		font-size: 16px;
		line-height: 20px;
	}
}
.field-input,
.custom-select {
	position: relative;
	display: block;
	min-width: 100%;
	width: 100%;
	min-height: 48px;
	height: 48px;
	border: 1px solid var(--gray1-color);
	background-color: transparent;
	font-size: 16px;
	line-height: 20px;
	transition: 0.15s ease-in-out;
}
.field-input {
	padding: 13px 15px;
	color: var(--light-black-color);
}
.field-input::placeholder {
	color: var(--gray4-color);
}
.field-input:not(.field-input--search):focus,
.custom-select__title:focus,
.custom-select__title.active {
	box-shadow: 0 0 3px var(--blue-color);
}
.custom-select::before {
	z-index: 1;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 55px;
	height: 100%;
	background-color: var(--white-color);
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.custom-select__title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	padding: 13px 55px 13px 15px;
	overflow: hidden;
	white-space: nowrap;
	color: var(--light-black-color);
	cursor: default;
	transition: all 0.15s ease-out;
}
.custom-select__title.default {
	color: var(--gray4-color);
}
.custom-select:focus,
.custom-select.active {
	box-shadow: 0 0 3px var(--blue-color);
}
.custom-select__title::before,
.custom-select__title::after {
	z-index: 2;
	content: "";
	position: absolute;
	top: 50%;
	width: 7px;
	height: 2px;
	margin-top: -1px;
	background-color: var(--light-black-color);
	transition: 0.15s ease-in-out;
}
.custom-select__title::before {
	right: 26px;
	transform: rotate(35deg);
}
.custom-select__title::after {
	right: 21px;
	transform: rotate(145deg);
}
.custom-select__title.active::before {
	transform: rotate(-35deg);
}
.custom-select__title.active::after {
	transform: rotate(215deg);
}
.custom-select__options {
	z-index: 100;
	position: absolute;
	display: none;
	top: calc(100% + 1px);
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0 4px 8px rgba(17, 17, 17, 0.2);
	background-color: var(--white-color);
	list-style: none;
	overflow: auto;
}
.custom-select__options li {
	position: relative;
	padding: 13px 15px;
	cursor: default;
	transition: 0.15s ease-in-out;
}
.custom-select__options li[rel="0"] {
	display: none;
}
.field-input.comment-input {
	min-height: 130px;
	padding: 13px 15px;
	resize: none;
	transition: all 0.15s ease-out;
}
.field-input-range-container {
	display: flex;

	& .field-input-range-1\/2 {
		min-width: calc((100% - 20px) / 2);
		width: calc((100% - 20px) / 2);
	}
	& .field-input-range-1\/2:not(:last-of-type) {
		margin-right: 20px;
	}
}
@media (min-width: 992px) {
	input[type='checkbox']:hover {
		box-shadow: 0 0 3px var(--blue-color);
	}
	.field-input:not(.field-input--search):hover,
	.custom-select:hover {
		box-shadow: 0 0 3px var(--blue-color);
	}
	.custom-select__options li:hover {
		background-color: var(--gray2-color);
		color: var(--light-black-color);
	}
}

.contact-form {
	&__heading,
	&__body {
		margin-bottom: 24px;
	}
	&__title {
		margin-bottom: 16px;
	}
	&__subtitle {
		opacity: 0.7;
		color: var(--light-black-color);
		line-height: 1.4;
	}
	&__row {
		margin-bottom: 16px;
	}
	& .custom-select::before {
		background-color: #ebf5fb;
	}
	&__btn {
		display: flex;
		margin-bottom: 20px;
	}
	&__btn .btn-reset {
		color: var(--gray4-color);
		text-decoration: underline;
		text-decoration-color: var(--gray4-color);
	}
	&__agree {
		display: flex;
	}
	&__agree input[type='checkbox'] {
		border-color: var(--blue-color);
	}
	&__agree input[type='checkbox']::before,
	&__agree input[type='checkbox']::after {
		background-color: var(--blue-color);
	}
	&__agree-text {
		padding-top: 2px;
		color: var(--gray4-color);
		font-size: 13px;
		line-height: 18px;
	}

	& .field-input:not(.comment-input),
	& .custom-select {
		min-height: 52px;
	}
	& .field-input,
	& .custom-select {
		height: 52px;
		border: 1px solid var(--blue-color);
	}
	& .field-input {
		padding: 15px;
	}
	& .custom-select__title {
		padding: 15px 55px 15px 15px;
	}
	& .field-input.comment-input {
		padding: 15px;
	}
}
@media (max-width: 575.98px) {
	.contact-form {
		&__btn {
			justify-content: space-between;
		}
		&__btn .btn-reset {
			flex: 0;
			padding: 0;
			text-align: left;
		}
	}
}
@media (max-width: 767.98px) {
	.contact-form {
		&__btn .btn:not(:last-child) {
			margin-right: 8px;
		}
	}
}
@media (max-width: 991.98px) {
	.contact-form {
		padding: 28px 20px;
	}
}
@media (min-width: 768px) {
	.contact-form {
		&__body {
			display: flex;
			flex-wrap: wrap;
			margin-right: -16px;
		}
		&__row {
			width: 100%;
			margin-right: 16px;
		}
		&__row--1\/2 {
			min-width: calc((100% - 32px) / 2);
			width: calc((100% - 32px) / 2);
		}
		&__btn .btn:not(:last-child) {
			margin-right: 24px;
		}
	}
}
@media (min-width: 992px) {
	.contact-form {
		padding: 28px 32px;
	}
}


.modal {
	position: fixed;
	z-index: 1110;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;

	&.is-visible {
		visibility: visible;
	}
	&.is-visible .modal-overlay {
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
	}
	&.is-visible .modal-transition {
		opacity: 1;
	}
	&__btns .btn:not(:last-of-type) {
		margin-right: 20px;
	}
	&__agree {
		display: flex;
	}
	&__agree-text {
		padding-top: 2px;
		color: var(--gray4-color);
		font-size: 13px;
		line-height: 18px;
	}
	&__agree .link {
		display: inline;
	}
}
.modal-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.1s ease-in-out 0.3s, opacity 0.3s ease-in-out;
}
.modal-wrapper {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	box-shadow: 0px 6px 12px rgba(17, 17, 17, 0.2);
	background-color: #fff;
	overflow: hidden;
	transform: translate(-50%, -50%);

	& .decor {
		top: 0;
		right: -110px;
	}
	& .decor__diamonds {
		min-width: 625px;
		width: 625px;
		min-height: 545px;
		height: 545px;
	}
}
.modal-transition {
	opacity: 0;
	transition: 0.3s 0.1s ease-in-out;
}

.modal-close {
	position: absolute;
	display: flex;
	top: 16px;
	cursor: pointer;

	& .icon {
		min-width: 24px;
		min-height: 24px;
		width: 24px;
		height: 24px;
		fill: rgba(51,51,51,0.3);
	}
}
.modal-body {
	position: relative;
}
@media (max-width: 767.98px) {
	.modal-wrapper {
		width: 375px;
		padding: 30px 15px 20px;
	}
	.modal-close {
		right: 12px;
	}
	.modal-title {
		margin-bottom: 24px;
		padding-right: 30px;
	}
}
@media (min-width: 768px) {
	.modal-wrapper {
		width: 520px;
		padding: 30px 32px;
	}
	.modal-close {
		right: 16px;
	}
	.modal-title {
		padding-right: 24px;
	}
}

.tagplate-wrapper {
	margin: 0 -8px -8px 0;
}
.tagplate {
	display: inline-flex;
	width: min-content;
	margin: 0 8px 8px 0;
	padding: 5px 11px;
	border: 1px solid var(--gray6-color);
	white-space: nowrap;
	font-size: 14px;
	line-height: 17px;
}

.filter-letters {
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px 0 -5px;
	}
	&__row:last-of-type {
		margin-bottom: -8px;
	}
	& a {
		margin: 0 10px 8px 0;
		padding-right: 5px;
		padding-left: 5px;
		color: var(--blue-color);
		font-weight: 700;
		line-height: 1.5;
	}
}
@media (max-width: 991.98px) {}
@media (min-width: 992px) {}


@media (max-width: 991.98px) {}
@media (min-width: 992px) {}