.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 375px;
	background-color: var(--footer-bg-color);

	&__committee.selection-committee {
		padding: 0;
	}
	&__committee,
	&__committee .selection-committee__heading,
	&__committee .selection-committee__contacts-title,
	&__committee .selection-committee__contacts-item p,
	&__committee .selection-committee__route a {
		color: var(--white-color);
	}
	&__committee .icon {
		fill: var(--white-color);
	}
	&__committee .selection-committee__contacts-title {
		opacity: 0.7;
	}
	&__committee:not(.footer__committee-subscription) .selection-committee__btn .btn {
		transform: rotate(-90deg);
	}
	&__committee:not(.footer__committee-subscription) .selection-committee__contacts:first-of-type .selection-committee__contacts-item:last-of-type {
		display: flex;
	}
	&__committee:not(.footer__committee-subscription) .selection-committee__contacts-item .selection-committee__btn {
		display: inline-flex;
	}
	&__committee:not(.footer__committee-subscription) .selection-committee__contacts-item .selection-committee__btn:not(:last-of-type) {
		margin-right: 20px;
	}
	&__committee:not(.footer__committee-subscription) .selection-committee__contacts-item .selection-committee__route {
		display: inline-flex;
		align-items: center;
		margin-bottom: 0;
	}
	&__committee .selection-committee__route a {
		text-decoration-color: var(--white-color);
	}
	&__committee-subscription .selection-committee__btn {
		display: inline-flex;
	}
	&__committee-subscription .selection-committee__btn .btn {
		width: auto;
	}
	&__committee-subscription .selection-committee__contacts-title {
		font-weight: 400;
	}
	&__committee-subscription .selection-committee__contacts-item:last-of-type .selection-committee__contacts-title {
		margin-bottom: 0;
	}
	& .hr {
		margin-bottom: 16px;
	}
	&__socials ul,
	&__legal ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__socials ul {
		display: flex;
		align-items: center;
	}
	&__socials li:not(:last-of-type) {
		margin-right: 8px;
	}
	&__socials li,
	&__legal li {
		display: flex;
	}
	&__socials a,
	&__legal a {
		display: inline-flex;
	}
	&__socials .icon {
		min-width: 42px;
		min-height: 42px;
		width: 42px;
		height: 42px;
		fill: var(--white-color);
	}
	&__legal {
		color: var(--white-color);
	}
	&__legal a {
		opacity: 0.7;
		line-height: 21px;
	}
}

@media (max-width: 991.98px) {
	.footer {
		&__container {
			display: flex;
			flex-direction: column;
			padding-top: 50px;
			padding-bottom: 16px;
		}
		&__committee:not(.footer__committee-subscription) {
			order: 1;
		}
		&__committee-subscription {
			order: 2;
		}
		&__committee,
		&__committee .selection-committee__contacts:not(:last-of-type),
		&__legal {
			margin-bottom: 50px;
		}
		&__committee .selection-committee__contacts:last-of-type {
			margin-bottom: 0;
		}
		&__committee .selection-committee__heading {
			margin-bottom: 20px;
		}
		&__committee .selection-committee__contacts:not(:last-of-type) .selection-committee__contacts-item:not(.selection-committee__contacts-phones):not(:last-of-type),
		&__committee-subscription .selection-committee__contacts .selection-committee__contacts-item:not(:last-of-type) {
			margin-bottom: 24px;
		}
		&__committee .selection-committee__contacts-phones:not(:last-of-type) {
			margin-bottom: 20px;
		}
		&__committee .selection-committee__contacts-phones:not(:last-of-type) .selection-committee__contacts-title {
			margin-bottom: 10px;
		}
		& .hr {
			order: 4;
		}
		&__socials {
			order: 5;
		}
		&__legal {
			order: 3;
		}
		&__legal li:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 992px) {
	.footer {
		&__container {
			display: flex;
			flex-wrap: wrap;
			padding-top: 60px;
			padding-bottom: 30px;
		}
		&__committee {
			margin-bottom: 60px;
		}
		&__committee .selection-committee__contacts {
			margin-bottom: 0;
		}
		&__committee:not(.footer__committee-subscription) {
			margin-right: auto;
		}
		&__committee:not(.footer__committee-subscription) .selection-committee__content {
			display: flex;
		}
		&__committee .selection-committee__contacts {
			display: flex;
			flex-direction: column;
		}
		&__committee:not(.footer__committee-subscription) .selection-committee__contacts:first-of-type {
			min-width: 275px;
			width: 275px;
			margin-right: 50px;
		}
		&__committee-subscription {
			display: flex;
			flex-direction: column;
			min-width: 300px;
			width: 300px;
		}
		&__committee .selection-committee__contacts-phones {
			display: flex;
			justify-content: space-between;
			min-width: 510px;
		}
		&__committee .selection-committee__contacts-phones .selection-committee__contacts-title {
			width: 210px;
			margin-right: 50px;
			margin-bottom: 0;
		}
		&__committee .selection-committee__contacts-phones p {
			min-width: 250px;
		}
		&__socials,
		&__legal {
			display: inline-flex;
		}
		&__socials {
			margin-right: 80px;
		}
		&__legal ul {
			display: flex;
			align-items: center;
		}
		&__legal li:not(:last-of-type) {
			margin-right: 30px;
		}
	}
}