.header {
	z-index: 2;
	position: relative;
	min-width: 375px;
	width: 100%;
	background-color: transparent;

	&__container {
		position: static;
		display: flex;
		flex-wrap: wrap;
	}
}
.header--fixed {
	z-index: 10000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.logo {
	display: flex;
	align-items: center;

	&__item:not(:last-of-type) {
		display: flex;
	}
	&__hr-vertical {
		min-width: 1px;
		min-height: 60px;
		width: 1px;
		height: 60px;
		background: var(--gray3-color);
		opacity: 0.3;
	}
	&__text {
		font-family: "PF Agora Sans Pro", sans-serif;
		line-height: 1.2;
	}
}

.header-actions {
	display: flex;
	align-items: center;
}
.page-search {
	display: flex;
}
.language-version .btn {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.header-menu {
	display: flex;

	&__btn {
		position: relative;
	}
	&__btn .icon:not(.show) {
		position: absolute;
		opacity: 0;
	}
	&__navbar {
		display: flex;
		justify-content: flex-end;
	}
	&__collapse-menu {
		position: absolute;
		left: 0;
		min-width: 100%;
		width: 100%;
		background-color: var(--gray2-color);
	}
	&__collapse-menu.collapsed {
		z-index: -1;
		display: none;
		user-select: none;
	}
	&__collapse-menu.open {
		z-index: 1;
		user-select: auto;
	}

	&__collapse-menu-item {
		display: inline-block;
		width: 100%;
	}
	&__collapse-menu-item a {
		display: flex;
	}
	&__collapse-menu-item-header {
		font-family: "PF Agora Sans Pro", sans-serif;
	}
	&__collapse-menu-item-header span {
		pointer-events: none;
	}
	&__collapse-menu-item ul {
		margin: 0;
		padding: 0;
		list-style: none;
		color: var(--blue-color);
		font-size: 16px;
		line-height: 22px;
	}
	&__collapse-menu-item li:not(:last-of-type) {
		margin-bottom: 16px;
	}
	&__collapse-menu-socials,
	&__collapse-menu-socials a {
		display: flex;
	}
	&__collapse-menu-socials,
	&__collapse-menu-legal {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__collapse-menu-socials .icon {
		fill: var(--blue-color);
	}
	&__collapse-menu-legal {
		color: var(--gray4-color);
		font-size: 15px;
		line-height: 22px;
	}
}
@media (max-width: 991.98px) {
	.header {
		&__container {
			padding-top: 15px;
			padding-bottom: 20px;
		}
	}

	.logo {
		order: 1;
		margin-right: auto;
		margin-bottom: 35px;

		&__item:not(:last-of-type) {
			margin-right: 15px;
		}
		& .icon {
			min-width: 60px;
			min-height: 54px;
			width: 60px;
			height: 54px;
		}
		&__text {
			font-weight: 400;
			font-size: 14px;
		}
	}

	.header-actions {
		order: 3;

		&__item:not(:last-of-type) {
			margin-right: 10px;
		}
	}

	.header-menu {
		order: 2;
		margin-bottom: 35px;

		&__collapse-menu {
			top: 178px;
		}
		&__collapse-menu-container {
			padding-top: 45px;
			padding-bottom: 45px;
		}
		&__collapse-menu-item:not(:last-of-type) {
			margin-bottom: 30px;
		}
		&__collapse-menu-item-header {
			font-size: 20px;
			line-height: 22px;
		}
		&__collapse-menu-item-header span {
			margin-right: 4px;
		}
		&__collapse-menu-item-header:not(.open) .icon {
			transform: rotate(-90deg);
		}
		&__collapse-menu-item-header ~ ul {
			display: none;
			padding-top: 20px;
		}
		&__collapse-menu-list,
		&__collapse-menu-bottom-item:first-of-type {
			margin-bottom: 40px;
		}
		&__collapse-menu-bottom-item:not(:first-of-type):not(:last-of-type) {
			margin-bottom: 20px;
		}
		&__collapse-menu-socials {
			width: 343px;
		}
		&__collapse-menu-socials li {
			width: calc((343px - 40px) / 5);
		}
		&__collapse-menu-socials li:not(:last-of-type) {
			margin-right: 10px;
		}
		&__collapse-menu-socials .icon {
			min-width: 60px;
			min-height: 60px;
			width: 60px;
			height: 60px;
		}
		&__collapse-menu-legal li:not(:last-of-type) {
			margin-bottom: 20px;
		}
		&__collapse-menu-committee {
			margin-right: -16px;
			margin-left: -16px;
		}
		&__collapse-menu-committee .selection-committee__content {
			width: 250px;
		}
	}
}
@media (min-width: 992px) {
	.header {
		&__container {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	.logo {
		margin-right: auto;
		margin-bottom: 24px;

		&__item:not(:last-of-type) {
			margin-right: 28px;
		}
		& .icon {
			min-width: 325px;
			min-height: 75px;
			width: 325px;
			height: 75px;
		}
		&__text {
			font-weight: 500;
			font-size: 16px;
		}
	}

	.header-actions {
		margin-bottom: 24px;

		&__item:not(:last-of-type) {
			margin-right: 16px;
		}
	}

	.header-menu {
		flex: 1;
		padding-top: 24px;

		&__btn {
			margin-right: auto;
		}
		&__navbar-item:not(:last-of-type) {
			margin-right: 10px;
		}
		&__collapse-menu {
			top: 220px;
		}
		&__collapse-menu-list {
			column-count: 3;
			column-gap: 20px;
		}
		&__collapse-menu-container {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		&__collapse-menu-item:not(:last-of-type) {
			margin-bottom: 60px;
		}
		&__collapse-menu-item-header {
			font-size: 24px;
			line-height: 26px;
		}
		&__collapse-menu-item-header ~ ul {
			padding-top: 24px;
		}
		&__collapse-menu-bottom {
			display: flex;
		}
		&__collapse-menu-bottom-item:not(:last-of-type) {
			margin-right: 80px;
		}
		&__collapse-menu-socials li:not(:last-of-type) {
			margin-right: 8px;
		}
		&__collapse-menu-socials .icon {
			min-width: 48px;
			min-height: 48px;
			width: 48px;
			height: 48px;
		}
		&__collapse-menu-legal {
			display: flex;
			align-items: center;
			height: 100%;
		}
		&__collapse-menu-legal li:not(:last-of-type) {
			margin-right: 30px;
		}
	}
}